<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

	<p>Merci pour l'intérêt que vous portez à TravelerCar. Compte tenu du nombre important des demandes de réservation de place de parking et afin de vous garantir la meilleure qualité de service pendant vos prochaines vacances, nous avons mis en place cette liste d'attente. Nous reviendrons vers vous d'ici peu.</p>

	<p>Avec TravelerCar, voyagez malin et ne payez plus le parking à l'aéroport !</p>

	<p>L'équipe TravelerCar.</p>

	<br/><br/>

	<p>Suivez nous sur <a href="https://www.facebook.com/TravelerCar">Facebook</a> et <a href="https://twitter.com/TravelerCar">Twitter</a>.</p>

</body>
</html>