<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>

<h1>Merci de vouloir rejoindre TravelerCar</h1>
<p>Merci <%= @email %>, pour votre intérêt à TravelerCar. Vous recevrez une invitation très prochainement.</p>
<p>Passez une excellente journée.</p>
<p>TravelerCar Team.</p>

</body>
</html>