<h2><%= t(".title") %> </h2>

<% @travels.each do |travel| %>
      <%= render "travels/item", :travel => travel %>
<% end %>

<br/>

<% if @user == current_user %>
    <%= link_to t(:register_travel), new_user_travel_path(@user) %>
<% end %>


