<h1><%= t '.title' %></h1>

<br/>
<div class="entry-content hero-unit">
	<p>Votre billet d'avion n'est pas confirmé ? Mettez vos dates approximatives et merci de nous le préciser dans le champs "Commentaires".</p>
</div>
<br/>

<h2><%= t '.sub_title' %></h2>

<%= render 'form' %>


