<h1><%= t '.title' %></h1>
<div class="entry-content hero-unit">
	<p>Commencez par renseigner votre aéroport ainsi que vos dates de départ et de retour.</p>
	<p>Si vous n'avez pas encore confirmé votre billet d'avion, mettez vos dates approximatives et merci de nous le préciser dans le champs "Commentaires".</p>
</div>

<h2><%= t '.sub_title' %></h2>

<%= render 'form' %>


