<div class="entry-content">
	<p>Vous êtes résident et propriétaire de votre véhicule ? Vous souhaitez mutualiser son usage pendant que vous voyagez et non seulement économiser les frais de parking mais aussi gagner de l’argent en ayant un comportement solidaire et éco-responsable ? Commencez par renseigner votre aéroport ainsi que vos dates de départ et de retour. Suivez ensuite les quelques étapes afin d’enregistrer votre véhicule.</p>
	<p><em>23 400 particuliers font confiance aujourd’hui et partagent l’usage de leur véhicule en France.</em></p>
	<br/><br/>
</div>

<h1><%= t '.title' %></h1>

<%= render 'form' %>


