<h1><%= t '.title' %></h1>
<div class="entry-content">
	<p><strong>Commencez par renseigner votre aéroport ainsi que vos dates de départ et de retour.</strong></p>
	<p><strong>Si vous n'avez pas encore confirmé votre billet d'avion, mettez vos dates approximatives et merci de nous le préciser dans le champs "Commentaires".</strong></p>
	<br/><br/>
</div>

<h2><%= t '.sub_title' %></h2>

<%= render 'form' %>


