<p class="access-links" style="text-align: center">
	<%= link_to "Revenir à la page de connexion", new_user_session_path, class: "base" %>
	|
	<%= link_to "Retour à la page d'accueil", root_path, class: "base" %>
</p>