<p>Bonjour <%= @parking.name %>,</p>

<p>Je vous remercie pour votre réservation de parking payant et pour votre intérêt pour helios. Votre réservation a été prise en compte. Un agent helios va revenir vers vous au plus vite avec les informations pratiques pour votre voyage (adresse du parking, heure de la navette, etc.)</p>

<p>Pour toute demande de parking de dernière minute, c'est-à-dire moins de 24 heures avant votre départ, merci de contacter directement l'équipe helios par téléphone au 01 73 79 27 21.</p>

<br/>
<p>Bien cordialement</p>