<p>Bonjour <%= @user.name %>,</p>
<p>Votre demande de parking a bien été prise en compte. Elle est en attente de validation par notre équipe.</p>
<p>Nous reviendrons vers vous dans les plus brefs délais.</p>
<p>Vous pouvez modifier les informations de votre demande en <%= link_to "cliquant sur ce lien", user_travels_url( I18n.locale, @user.id ) %>.</p>
<p>Merci de votre confiance.</p>