<div class="entry-content">
	<p>Vous êtes un voyageur et vous souhaitez louer une voiture ? Rien de plus simple : Renseignez votre aéroport ainsi que vos dates d’arrivée et de départ. Choisissez ensuite la voiture qui vous convient et validez votre réservation en ligne. TravelerCar vous permet de réaliser jusqu’à 50% d'économie par rapport aux loueurs classiques. Assurance tous risques sans supplément et options gratuites incluses (siège bébé, réhausseur, GPS). A vous de jouer !</p>
	<br/><br/>
</div>

<div class="row-fluid">
	<h1><%= t(:rent_car) %></h1>
	<%= render 'form' %>
</div>






