<% if @user == current_user %>
    <%= link_to t('.new_rent'), search_path,  :class => "base pull-right" %>
<% end %>

<h1><%= t('.title') %></h1>

<% if @rents.empty? %>

    <div class="hero-unit">
    	<p><%= t(".no_rents") %></p>
    </div>

<% else %>

    <% @rents.each do |rent| %>
        <%= render "rents/item", :rent => rent %>
    <% end %>
    <br/>

<% end %>





