<% if @user == current_user %>
    <%= link_to t('.new_rent'), search_path,  :class => "base pull-right" %>
<% end %>

<h1><%= t('.title') %></h1>



<% if @rents.empty? %>
    <h3><%= t(".no_rents") %></h3>

<% else %>

    <% @rents.each do |rent| %>
        <%= render "rents/item", :rent => rent %>
    <% end %>


    <br/>

<% end %>





