<p>Bonjour <%= @parking.name %>,</p>

<p>Je vous remercie pour votre réservation de parking payant et pour votre intérêt pour TravelerCar.</p>

<p>Notre parking partenaire est l'<strong>Airport hôtel, au 15 rue du bois 77990 Mauregard</strong>.<br/>
<strong>Coordonées GPS</strong> : Latitude : 49.036667 / Longitude : 2.581667</p>

<p>Nous allons réserver la navette qui vous conduira à votre terminal de départ.<br/>
Le trajet de la navette dure une dizaine de minutes, aussi je vous propose de réserver votre navette pour <%= @parking.dropoff %>, de manière à ce que vous soyez au plus tard à l'aéroport à <%= (Time.strptime(@parking.dropoff, "%d/%m/%Y %H:%M") + 20.minutes).strftime "%Hh%M" %>. Cela vous convient-il ?</p>

<p>Nous vous conseillons d'arriver une quinzaine de minutes avant l'heure de départ de la navette, afin de pouvoir vous garer tranquillement.</p>

<p>Une fois arrivé devant la grille de l'hôtel, vous pouvez sonner à l'interphone ou appeler directement l'hôtel au <strong>01 60 26 84 58</strong>.<br/>
Après vous être garé sur le parking, présentez-vous à l'accueil en indiquant que vous venez de la part de TravelerCar.</p>

<p>A votre retour, nous vous invitons à appeler l'hôtel au moment où vous récupérez vos bagages. La navette vous donnera un point de rendez-vous à votre terminal d'arrivée et sera là une quinzaine de minutes plus tard.</p>

<br/>
<p>Bien cordialement,<br/>
L'équipe TravelerCar</p>