<p>Bonjour <%= @parking.name %>,</p>

<p>Je vous remercie pour votre réservation de parking payant et pour votre intérêt pour helios.</p>

<p>Notre parking partenaire est l'<strong>hôtel Best Western Plus Orly, 4 avenue Charles Lindbergh, 94 656, Rungis</strong>.</p>

<p>Le jour de départ, une fois au parking, nous vous invitons à suivre la procédure suivante : </p>

<ol>
	<li>Prendre un ticket en entrant dans le parking, au niveau de la barrière automatique. Vous pouvez vous garer directement sur le parking.</li>
	<li>Se présenter à l'accueil de l'hôtel en précisant que vous êtes <strong>client helios</strong>. Un agent tamponnera le ticket. Il est nécessaire de <strong>conserver ce ticket</strong> pour le retour.</li>
	<li>Il ne vous reste plus qu'à prendre la navette qui vous conduira au point de rendez-vous pour Orly Sud ou Ouest, en fonction de votre terminal de départ. Vous pouvez attendre la navette à l'accueil de l'hôtel.</li>
</ol>

<p>Nous vous conseillons d'arriver environ 15 minutes avant l'heure de départ de la navette, de manière à pouvoir tranquillement vous garer et récupérer le ticket. Le trajet en navette dure une dizaine de minutes.</p>

<p>Les horaires de la navette sont fixes, elle circule toute la journée, au départ de l'hôtel, aux horaires suivants :</p>

<p><em>Du lundi au vendredi :</em></p>

<ul>
	<li>De 6h00 à 10h00, une navette toutes les 20 minutes (6h00, 6h20, 6h40, etc.)</li>
	<li>De 10h00 à 17h00, une navette toutes les 30 minutes (10h00, 10h30, 11h00, etc.)</li>
	<li>De 17h00 à 23h40, une navette toutes les 20 minutes (17h00, 17h20, 17h40, etc.)</li>
</ul>

<p>Le <em>samedi et le dimanche</em>, les horaires sont les mêmes mais la <strong>première navette est à 5h00</strong> au lieu de 6h00.</p>

<p><strong>La dernière navette est à 23h40 tous les jours de la semaine.</strong></p>

<p>Le <strong>point de rendez-vous</strong> pour la navette à l'aéroport est :</p>

<ul>
	<li><strong>Orly Sud</strong>, porte G</li>
	<li><strong>Orly Ouest</strong>, porte D - arrêt 12</li>
</ul>

<p>A votre retour au parking, il vous suffit de présenter le ticket donné à l'aller à l'accueil. Un agent vous fournira un ticket pour la sortie.</p>

<p>Pour toute question, n'hésitez pas à contacter helios au 01 73 79 27 21. <em>En cas d'urgence uniquement</em>, merci d'appeler le 06 24 94 06 01.</p>

<p>En vous souhaitant une bonne journée.</p>

<br/>
<p>Bien cordialement,<br/>
L'équipe helios</p>