<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Congratulations TravelerCar's team</h1>

<p>
  <%= @user.email %> is asking for a rent on TravelerCar.com, to see just follow this link : <%= @url %>
</p>

<p>
  To admin it, just follow this link: <%= @admin_url %>.
</p>

<p>Have a great day!</p>

</body>
</html>