<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Congratulations helios's team</h1>

<p>
  <%= @user.email %> is asking for a parking on helios.com, to see just follow this link : <%= @url %>
</p>

<p>
  To publish it, you have to fix a price category and change the status to 'active'
   just follow this link: <%= @admin_url %>.
</p>

<p>Have a great day!</p>

</body>
</html>