<h1><%= t(".title") %></h1>

<div class="row-fluid">

  <div class="span8">
    <p>
    <%= t(".summary", :brand => @rent.travel.car.brand, :model => @rent.travel.car.model, :year => @rent.travel.car.year, :from => @rent.startDate, :to => @rent.endDate, :airPort => @rent.airPort.name ) %>
    </p>

    <p>
      <%= t(".payment_info_#{@payment.status}", :amount => number_to_currency(@payment.amount_in_euros)) %>
    </p>

    <p>
      <%= t(".thank_you") %>
    </p>
  </div>
</div>