<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @payment.amount %>
</p>

<p>
  <b>Status:</b>
  <%= @payment.status %>
</p>

<p>
  <b>Contribution_details:</b>
  <%= @payment.contribution_details %>
</p>





