<div class="well">
  <div class="row-fluid">
    <div class="span12">
      <h1>Modification d'un catégorie</h1>

      <%= render 'form' %>

      <%= link_to t(:show), admin_category_path(@category) %> |
      <%= link_to t(:back), admin_categories_path %>
    </div>
  </div>
</div>