<footer id="footer">
  <div class="container">
    <ul id="menu-footer" class="menu">
      <li class="menu-parrainage"><a href="http://localhost/travelercar/parrainage/">Parrainage</a></li>
      <li class="menu-besoin-daide"><a href="http://localhost/travelercar/besoin-daide/">Besoin d&rsquo;aide ?</a></li>
      <li class="menu-presse"><a href="http://localhost/travelercar/presse/">Presse</a></li>
      <li class="menu-partenaires"><a href="http://localhost/travelercar/partenaires/">Partenaires</a></li>
      <li class="menu-information-legale">
        <a href="http://localhost/travelercar/information-legale/">Information légale</a></li>
      <li class="menu-contact"><a href="http://localhost/travelercar/contact/">Contact</a></li>
    </ul>
    <span>&copy; 2013 TravelerCar All rights reserved.</span>
  </div>
  <!--a href="#" id="btn_up">UP</a-->
  <a href="#" id="btn_up"><i class="icon-arrow-up"></i></a>
</footer>